<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-white shadow border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/bidemy-logo.png}" alt="Bidemy Logo" style="height: 40px;">
            </a>
            <div class="d-flex align-items-center">
                <i class="bi bi-cart text-dark fs-4 me-3"></i>
                <a th:href="@{/login}" class="btn btn-outline-mor me-2">Oturum aç</a>
                <a th:href="@{/register}" class="btn btn-mor">Kaydol</a>
            </div>
        </div>
    </nav>

</div>
</body>
</html>
