<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kurs Oluştur</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/side.css">
</head>
<body>
<div th:replace="fragments/courses-navbar :: navbar"></div>
<div class="wrapper">
    <div th:insert="fragments/sidebar :: instructorSidebar('basics')"></div>
    <div class="container mt-5">

        <h4 class="fw-semibold" style="font-family: Georgia, Times, serif; margin-left: 20px;">Kurs açılış sayfası</h4>
        <hr class="w-100 border-1 opacity-75">

        <form th:action="@{/courses/new}" method="post" enctype="multipart/form-data"
              th:object="${courseRequest}">

            <div class="mb-4">
                <label for="category" class="form-label">Kategori Seçin</label>
                <select class="form-select" id="category" th:field="*{categoryId}">
                    <option value="" disabled selected>Kategori Seçin</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
            </div>
            <div class="mb-4">
                <label for="title" class="form-label" >Kurs Başlığı</label>
                <input type="text" class="form-control" id="title" th:field="*{title}"
                       placeholder="Kurs başlığınızı girin.">
                <div class="form-text text-muted" >Başlığınız ilgi çekici, bilgilendirici ve arama için uygun
                    olmalıdır.
                </div>
                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>

            <div class="mb-4">
                <label for="description" class="form-label">Kurs Açıklaması</label>
                <textarea class="form-control" id="description" th:field="*{description}" rows="5" placeholder="Kurs açıklamanızı girin."></textarea>
                <div class="form-text text-muted">Açıklama en az 200 kelime içermelidir.</div>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>

            <div class="mb-4">
                <label for="price" class="form-label">Fiyat (TL)</label>
                <input type="number" class="form-control" id="price" th:field="*{price}"
                       min="250" max="3000" step="1" placeholder="Kurs fiyatını girin.">
                <div class="form-text text-muted">Minimum 250 TL, maksimum 3.000 TL olmalıdır.</div>
                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>

            <div class="mb-4">
                <label for="image" class="form-label">Kurs Görüntüsü</label>
                <input type="file" class="form-control" id="image" name="imageFile" onchange="previewAndEncodeImage(event)">
                <input type="hidden" th:field="*{base64Image}" id="base64Image">
                <div class="mt-3">
                    <img id="imagePreview" src="#" alt="Görüntü Önizleme" class="img-fluid"
                         style="display: none; max-height: 300px;">
                </div>
            </div>

            <button type="submit" class="btn btn-purple text-white" style="background-color: #6f42c1;">Kaydet</button>
        </form>
    </div>


    <script>
        function previewAndEncodeImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function () {
                const base64String = reader.result.split(',')[1];
                document.getElementById('base64Image').value = base64String;

                const output = document.getElementById('imagePreview');
                output.src = reader.result;
                output.style.display = 'block';
            };

            reader.readAsDataURL(file);
        }
    </script>

</div>
</body>
</html>